body {
    background-color: lawngreen;
}

h2 {
    font-size: 40px;
}

.about {
    background-color: plum;
    padding: 30px;
    border-radius: 20px;
    max-width: 50%;
    box-sizing: border-box;
}

.about h2 {
    color: purple;

}

.contact {
    background-color: sandybrown;
    border: 5px solid white;
}

.contact p {
    color: white;
}

.info {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: turquoise;
    text-align: center;
    margin: 0 auto;
    
}

.info h2 {
    font-size: 30px;
    padding-top: 36px;
}

main {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 20px;
}

main section {
    border: 1px dotted black;
}

.hello2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hello2 p {
    border: 1px dotted black;
}