body {
    background-color: gray;
}

#header-img {
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 50px;
}

#desk {
    border: 15px solid rgb(58, 58, 58);
    margin: auto;
    border-radius: 50%;
    width: 60%;
}

#graphic {
    border: 15px solid rgb(58, 58, 58);
    margin: auto;
    border-radius: 50%;
    width: 60%;
}

#person {
    border: 15px solid rgb(58, 58, 58);
    margin: auto;
    border-radius: 50%;
    width: 60%;
}